.pdp-description-section {
  // @media (min-height: 768px) {
  //   position: relative;
  //   top: -150px;
  // }
  // @media (min-height: 810px) {
  //   position: relative;
  //   top: -245px;
  // }
  // @media (min-height: 830px) {
  //   position: relative;
  //   top: -190px;
  // }
  // @media (min-height: 888px) {
  //   position: relative;
  //   top: -40px;
  // }
}

.product-info {
  @media (max-width: 768px) {
    flex-direction: column !important;
    padding: 0 !important;
  }
}

.pdp-fusion__modify-carousel-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-top: 1px solid #D1D1D1;
  position: relative;
  padding-left: 20px;

  @media (max-width: 768px) {
    border-top: none;
    grid-template-columns: 100%;
    padding: 0 13px;
  }
}

.pdp-fusion__modify-carousel-thumbs {
  .pdp-carousel-slide__thumb-content {
    width: 96px;

    img {
      height: 60px;
      width: 96px;
      border-radius: 2px;
    }

    .video-wrapper {
      opacity: 0;
    }
  }
}

.swiper-container.js-pdp-carousel {
  width: 550px !important;
}

.pdp-fusion__modify-carousel-bottom-line {
  height: 1px;
  background-color: #D1D1D1;
  width: 100%;
  position: absolute;
  top: 80px;

  @media (max-width: 768px) {
    display: none;
  }
}

.vwo-pdp-links-break {
  @media (max-width: 768px) {
    margin-bottom: 9px !important;
  }
}

.vwo-pdp-links {
  position: static;
  width: 100%;
  background-color: white;
  z-index: 20;
  height: 40px !important;

  &.expanded {
    height: auto !important;

    @media (min-width: 768px) {
      position: absolute !important;
      width: calc(100% - 30px );
    }
  }

  .heading {
    width: 100%;
    display: flex;
    justify-content: center;

    &::after {
      content: "" !important;
      margin-left: 15px !important;
      background: url(https://cdn-eu.dynamicyield.com/api/9878419/images/344ee1a5944d6__icon--arrow.svg) no-repeat 50% 50% !important;
      width: 12px !important;
      transform: rotate(0deg) !important;
    }
  }

  .pdp-fusion__expanded {
    display: flex !important;
    align-items: center;
    position: relative;
    top: -4.5px;

    span {
      display: block !important;
      margin-left: 15px !important;
      background: url(https://cdn-eu.dynamicyield.com/api/9878419/images/344ee1a5944d6__icon--arrow.svg) no-repeat 50% 50% !important;
      width: 12px !important;
      height: 12px;
      transform: rotate(180deg) !important;
    }
  }
  @media (max-width: 768px) {
    position: static;
    width: 100%;
    margin-bottom: 26px !important;
  }
}

.product-detail-thumbnail-carousel__controls.swiper-controls {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: 10px;

  .swiper-button-next, .swiper-button-prev {
    top: 0;
    box-shadow: none;
    opacity: 1;
    background: transparent;
  }

  .swiper-button-next {
    right: 45.5%;

    @media (max-width: 950px) {
      right: 44.5%;
    }
    @media (max-width: 835px) {
      right: 43.5%;
    }
  }
  
  .swiper-button-prev {
    left: -10px;
  }
}

.product-detail-carousel__controls .swiper-button-white {
  width: 32px !important;
  height: 32px !important;
  box-shadow: none !important;
  border: 1px solid #D1D1D1;
  opacity: 1 !important;

  img {
    height: 14px;
  }
}

.product-detail-carousel__controls.swiper-controls {
  .swiper-button-prev {
    left: 10%;
  }
  .swiper-button-next {
    right: 10%;
  }

  @media (max-width: 768px) {
    .swiper-button-prev {
      left: 3%;
    }
    .swiper-button-next {
      right: 3%;
    }
  }
}

.pdp-carousel-slide__thumb-button {
  @media (max-width: 768px) {
    width: 64px !important;
    min-width: 64px !important;
    height: 40px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#js-start-ar {
  width: 64px !important;
  min-width: 64px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0px !important;

  .pdp-carousel-slide__thumb-label {
    display: none !important;
  }

  .pdp-carousel-slide__thumb-title {
    display: none;
  }

  .pdp-carousel-slide__thumb-icon {
    margin-bottom: 0px !important;
    margin-right: 0px !important;
  }
}

.swiper-slide.pdp-carousel-slide__thumb:first-child, .swiper-slide.pdp-carousel-slide__thumb:nth-child(6) {
  @media (max-width: 768px) {
    display: block !important;

    .pdp-carousel-slide__thumb-content {
      display: flex !important;
      height: 40px;
      width: 64px;
      border-radius: 3px;
      border: 1px solid #D1D1D1;

      img {
        width: 64px;
        height: 40px;
      }
    }
  }
}

.swiper-wrapper.custom-vo-swiper-tile-container {
  @media (max-width: 1230px) {
    gap: 5px;
  }
  @media (max-width: 1150px) {
    gap: 10px;
  }
  @media (max-width: 1105px) {
    gap: 20px;
  }
  @media (max-width: 995px) {
    gap: 35px;
  }
  @media (max-width: 768px) {
    justify-content: center !important;
    gap: 6px !important;
  }
  @media (max-width: 400px) {
    justify-content: space-between !important;
    // gap: 0px !important;
  }
}
.pdp-carousel-slide__thumb--no-ar .pdp-carousel-slide__thumb-button {
  @media (max-width: 768px) {
    margin-left: initial !important;
  }
}

.swiper-slide {
  @media (max-width: 768px) {
    margin-left: 0px !important;
  }
}

.swiper-slide.pdp-carousel-slide__thumb {
  @media (min-width: 768px) {
    width: 96px !important;
  }
}

.pdp-carousel-slide__thumbs {
  @media (max-width: 768px) {
    padding-left: 0px !important;
  }
}

.pdp-carousel-slide__thumb {
  @media (max-width: 768px) {
    width: 63px !important;
    min-width: 63px !important;
    max-width: 63px !important;
  }
}

.vwo-new-attributes-anchor {
  display: none;
}

#vwo-new-attributes-anchor {
  display: none;
}

.product-options-wrapper {
  .dy-pdp-colour-swatches {
    @media (max-width: 768px) {
      display: none;
    }
  }
}

.pdp-tablet__finance-hide.pdp-tablet__landscape-finance .finance-badge {
  display: none;
}

.product-detail__countdown-timer {
  display: none;
}

.vwo-more-colours-link {
  border-top: none;
}

.pdp-guideprice-section {
  margin-top: 30px;
}

.product-detail__attributes.shown {
  display: none !important;
}

#hulla {
  display: none !important;
}

.product-secondary.container.pdp-guideprice-section .dy_unit {
  display: none;
}

.product-detail__product-tag {
  display: none;
}

.product-wrapper {
  overflow: hidden;
}

.pdp-primary-images {
  margin-bottom: 0px !important;
}

.pdp-guideprice-section {
  margin-top: -20px;
}

.swiper-container-thumbs {
  @media (min-width: 768px) {
    max-height: 60px !important;
  }
}

.product-dimensions-wrapper {
  p {
    @media (max-width: 768px) {
      padding: 0 20px;
    }
  }
}

.product-info.section-content.js-pdp-section-content {
  @media (max-width: 768px) {
    padding-top: 0px;
    margin-top: -16px;
  }
}

.pdp-carousel-slide__thumb--has-ar, .swiper-slide.pdp-carousel-slide__thumb:has( .pdp-carousel-slide__thumb-content--video) {
  @media (min-width: 768px) {
    display: none;
  }
}

.pdp-carousel-slide__thumb-icon {
  height: 25px !important;
  margin-bottom: 0px !important;
}

.pdp-carousel-slide__thumb-button {
  padding: 5px 0 !important;
}

.carousel-pdp-colour-swatches {
  @media (max-width: 768px) {
    display: none !important;
  }
}

.price-finance, .dy-api-recommendations, .js-pdp-range-recomendation, .carousel-pdp-colour-swatches {
  display: none;
}

.section-heading.js-pdp-section-heading.is-expandable {
  font-weight: 300;
}

.recliner-sofa-switcher.manual {
  border-bottom: none !important;
  margin-bottom: 0 !important;
}

.pdp-primary-images .pdp-carousel-slide {
  border-radius: 5px;
}