@import "./modifications.scss";

*, *::after, *::before {
  box-sizing: border-box;
}

.product-information-section {
  position: relative;

  @media (max-width: 768px) {
    position: static;
    margin-bottom: 0;
  }
}

.dy-page-loader {
  position: absolute;
  top: 122px;
  left: 0;
  z-index: 100;
  background-color: #E9E9E9;
  background-color: white;
  width: 100vw;
  height: calc(100vh - 122px);
  display: grid;
  place-items: center;
}

.pdp-description-section {
  .section-heading.js-pdp-section-heading {
    border-top: none !important;
  }
}

.pdp-fusion__modify-carousel-thumbs {
  @media (max-width: 768px) {
    display: none;
  }
}