.pdp-fusion__hide-full-description-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 14px;
}

.pdp-fusion__hide-full-description {
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline !important;
  cursor: pointer;
}