@use "../../global-styles/colors.scss";
@use "../../global-styles/breakpoints.scss";


.pdp-plp-fusion__product-information {
  width: 100%;
  margin-bottom: 35px;
  margin-top: 40px;

  @media (max-width: breakpoints.$tablet) {
    width: 100%;
  }

  h2 {
    font-size: 16px;
    font-weight: bolder;
  }

  p {
    font-size: 16px;
    font-weight: 100;
  }

  a {
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline !important;
    cursor: pointer;
    position: relative;
    top: 6px;
  }
}