
:root {
  --backround-color: #F4F4F4;
  --heat-bg-color: #F4F4F4;
  --heat-bg-hover-color: #D1D1D1;
  --text-color: #222222;
  --dark: #272727;
  --white: #FFFFFF;
  --border: #D1D1D1;
  --red: #DB2B39;
  --grey: #646464;
  --stars-color: #FFC502;
  --stars-rating-color: #8D8D8D;
  --font-family-san-serif: "Centrale Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
}

.dy-swiper-container {
  overflow: hidden;
  
  .swiper-scrollbar {
    background: #D1D1D1;
    height: 2px;
    margin-top: 29px;
    transition: .3s ease-out;

    &:hover {
      height: 5px;
      margin-top: 26px;
    }
  }
}

.recommended-container {

  .recommended__title {
    font-weight: 400;
    font-size: 18px;
    text-align: left;
  }
}